.grid__column-2{
    background-color: #e3e3e3;
    border-radius: 4px;
}


.header__title{
    text-align: center;
}

.container{
    border-top: 1px solid black;
}

.container__center{
    margin-top: 100px;
    display: flex;
}

.container__menu{
    border-right: 1px solid #000;
}

.container__menu-title{
    margin-bottom: 10px;
}

.container__menu-descreption > h3{
    padding-left: 5px;
}

.container__menu-descreption > a{
    padding-left: 15px;
    text-decoration: none;
    color: var(--black-color) !important;
}
a{
    color: var(--black-color) !important;
}

.container__menu-descreption-home{
    /* padding: auto; */
}


.container__table-title{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.container__table-description{
    min-width: 100px;
    padding: 6px;
}
.container__table-description-img > img{
    width: 100px;
    
}

.container__table-sub-description {
    font-weight: 400;
    text-decoration: unset;
    font-size: 12px;
    line-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 110px;
}


.container__table-description-btn{
    min-width: 137px;
}

.container__table-description--btn{
    display: block;
    /* padding: 2px; */
    border-style: groove;
    margin: 0;
    text-align: center;
    text-decoration-line: none;
}

.container__table-description-btn > a {
    margin: 5px;
    background-color: #e3e3e3;
    padding: 0 5px;
    font-size: 14px;
}

.container__search{
    margin-left: 100px;
    margin-bottom: 30px;
    width: 44%;
    box-shadow: 0 0 0 0.4px var(--primary-color);
}

.container__search__input{
    min-width: 300px;
    height: 100%;
    padding-right: 6px;
    border: none;
    outline: none;

}

.container__search__btn{
    background-color: var(--while-color);
    border-left: 1px solid var(--primary-color);
}

.container__search__btn:hover{
   opacity: 0.4;
}